@model List<e_commerce.Models.ViewModelNomImage>
@{
    ViewBag.Title = "Home Page";
}

<div class="contenu">
    @foreach (var produit in Model)
    {
        <div class="carre slideUp">
            <img src="@Url.Content(produit.imageUrl)" alt="@produit.nom" />
            <div>
                <a href="@Url.Action("ListesAvis", "Avis", new { idProd = produit.id })" class="ico" style="font-size: 18px;">
                    @produit.nombreAvis <span class="glyphicon glyphicon-comment"></span>
                </a>
                <h4>@produit.nom</h4>
                <button class="btn btn-primary">  
                    @Html.ActionLink("Detail", "DetailleProduit", "Produit", new { id = produit.id }, new { @style = "color: white;" })
                </button>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            // Fonction pour vérifier et appliquer l'animation
            function applyAnimation() {
                $(".slideUp").each(function () {
                    var elementTop = $(this).offset().top;
                    var windowHeight = $(window).height(); // Hauteur de la fenêtre visible
                    var scrollTop = $(window).scrollTop(); // Position actuelle de scroll

                    // Si l'élément est visible dans la fenêtre, ajouter la classe 'slide'
                    if (elementTop < scrollTop + windowHeight) {
                        $(this).addClass("slide");
                    }
                });
            }

            // Appliquer l'animation lors du chargement de la page
            applyAnimation();

            // Appliquer l'animation lors du scroll
            $(window).scroll(function () {
                applyAnimation();
            });
        });
    </script>
}

