<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <div class="loader">
        <span class="letter">C</span>
        <span class="letter">H</span>
        <span class="letter">A</span>
        <span class="letter">R</span>
        <span class="letter">G</span>
        <span class="letter">E</span>
        <span class="letter">M</span>
        <span class="letter">E</span>
        <span class="letter">N</span>
        <span class="letter">T</span>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" id="nav_haut">
        <div class="container">
            <div class="row navbar-collapse collapse">

                <div class="col-lg-3">
                    @Html.ActionLink("Mask", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <!-- <div class="col-lg-4 form_gly">
         <span id="toggleSidebar" class="glyphicon glyphicon-menu-hamburger taille_gly" style="margin-top:10px;cursor:pointer;"></span>
         <input type="text" class="form-control" id="inputPassword2" placeholder="recherche" style="margin-top:10px;">
     </div>-->
                <div class="col-lg-4 form_gly">
                    <span id="toggleSidebar" class="glyphicon glyphicon-menu-hamburger taille_gly" style="margin-top:10px;cursor:pointer;"></span>
                    <form action="@Url.Action("Index", "Home")" method="get" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" name="searchTerm" placeholder="Rechercher un produit...">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
                <div class="col-lg-2">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="nav-link active" href="@Url.Action("ListeContenir", "Contenir")">
                                <span class="glyphicon glyphicon-shopping-cart taille_gly"></span>
                                    <div class="notification"><p></p></div>
                                 
                            </a>
                        </li>

                        <li>
                            <a class="nav-link active" href="@Url.Action("Index", "Home")">
                                <span class="glyphicon glyphicon-bell taille_gly"></span>
                                <div class="notification1"><p></p></div> <!-- Notification pour la cloche -->
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    @Html.Partial("_LoginPartial")
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar (Barre de navigation latérale) -->
            <div class="sidebar bg-dark" id="sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")">
                            <i class="glyphicon glyphicon-dashboard"></i> Tableau de bord
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ListesProduits", "Produit")">
                            <i class="glyphicon glyphicon-barcode"></i> Gérer les Produits
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ListeUsers", "UsersAdmin")">
                            <i class="glyphicon glyphicon-user"></i> Gérer les Utilisateurs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("GererCommandes", "Admin")">
                            <i class="glyphicon glyphicon-shopping-cart"></i> Gérer les Commandes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ListeaAvisAdmin", "Avis")">
                            <i class="glyphicon glyphicon-comment"></i> Gérer les Avis
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Contenu principal -->
            <div class="col-md-12 content" id="content" style="margin-top:50px;">
                @RenderBody()

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    $(document).ready(function () {
            //pour tester si c'est admin ou non admin
            var isAdmin = '@Session["IsAdmin"]' === 'True';
            if (isAdmin) {
                $('#toggleSidebar').show();//affiche le bouton
            } else {
                $('#toggleSidebar').hide();//cache le button
                localStorage.setItem('sidebarState', 'hide');
            }
            // Fonction pour basculer la barre latérale
        function toggleSidebar() {
                $('#sidebar').toggleClass('show');//affiche le nav gauche
                $('#content').toggleClass('shift');//permet au content d'etre flexible lorsque le nav gauche s'affiche

    // Sauvegarder l'état de la barre latérale dans localStorage
            if ($('#sidebar').hasClass('show')) {
   //on utilise localStorage pour stocker des donnes au cote client,ces donne restera meme le navigateur est ferme
                    localStorage.setItem('sidebarState', 'show');
            } else {
                    localStorage.setItem('sidebarState', 'hide');
                }
            }

            // Vérifier l'état de la barre latérale au chargement de la page
            if (localStorage.getItem('sidebarState') === 'show') {
                $('#sidebar').addClass('show');
                $('#content').addClass('shift');
            }

            // Gérer le clic sur le bouton de bascule de la barre latérale
            $('#toggleSidebar').click(function () {
                toggleSidebar();
            });
    });
        window.addEventListener('load', () => {
            $('.loader').addClass('fondu-out');
        })
     /*   $(window).on('load', function () {
            console.log("chargement");
            $('.loader').hide();  // Cache le loader après le chargement complet
        });*/
    </script>
    @Scripts.Render("~/bundle/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gridmvc")
</body>
</html>
