@model e_commerce.Models.ProduitAvecDetail
@{
    ViewBag.Title = "DetailleProduit";
}

<h2>DetailleProduit</h2>


<div class="row" id="contenu_detail">
    <div class="col-md-4 contenu_img">
        <img src="@Url.Content(Model.ImageUrl)" alt="" style="width:350px;height:450px" />
    </div>
    <div class="col-md-8 contenu_text">
        <h1 class="text-center text-danger">@Model.nom</h1>
        <p>@Model.prix</p>
        <p>@Model.Description</p>
        <p>@Model.qte</p>
        @using (Html.BeginForm("SaveCommentContenir", "Produit", FormMethod.Post))
        {
            <input type="hidden" name="idprod" value="@Model.id_prod" />
            <input type="number" name="qte" />
            <input type="submit" value="ajouter au panier" />
        }
    </div>

</div>
<script>
    function ajouterAuPanier(qte, idprod) {
        $.ajax({
            url: '@Url.Action("SaveCommentContenir", "Produit")',
            type: 'POST',
            data: { qte: qte, idprod: idprod },
            success: function (result) {
                if (result.success) {
                    // Mettre à jour la notification avec la somme des quantités
                    $('.notification p').text(result.sommeQuantites);

                    // Afficher la notification seulement si la quantité est supérieure à 0
                    if (result.sommeQuantites > 0) {
                        $('.notification').show();
                    }
                }
            }
        });
    }
</script>

