@model e_commerce.Models.ProduitAvecDetail
@{
    ViewBag.Title = "DetailleProduit";
}

<h2>DetailleProduit</h2>


<div class="row" id="contenu_detail">
    <div class="col-md-4 contenu_img">
        <img src="@Url.Content(Model.ImageUrl)" alt="" style="width:350px;height:450px" />
    </div>
    <div class="col-md-8 contenu_text">
        <h1 class="text-center text-danger">@Model.nom</h1>
        <p>@Model.prix</p>
        <p>@Model.Description</p>
        <p>@Model.qte</p>
    </div>
</div>
