@{
    ViewBag.Title = "Paiement réussi";
}

<h2>Paiement réussi !</h2>

<p>Merci pour votre achat. Voici les détails de votre transaction :</p>

<table class="table table-bordered">
    <tr>
        <th>ID de paiement</th>
        <td>@ViewBag.PaymentId</td>
    </tr>
    <tr>
        <th>Email de l'acheteur</th>
        <td>@ViewBag.PayerEmail</td>
    </tr>
    <tr>
        <th>ID de transaction</th>
        <td>@ViewBag.TransactionId</td>
    </tr>
    <tr>
        <th>Montant</th>
        <td>@ViewBag.Amount @ViewBag.Currency</td>
    </tr>
</table>

<p>Vous recevrez un email de confirmation sous peu. Merci de votre confiance.</p>
